body{
    background-color: azure;
    width: 100%;
    height: 100%;
}

form{
   width: 100%;
   height: 100%;
   margin-top: 50px !important; 
}

.bg-light{
    background: #88a8ba !important;
}

.navbar-brand{
    color: white;
}

#password{
    margin-right: 25px !important;
}

#loginlabel{
    margin-right: 50px !important;
}